<mat-card-title style="text-align: center" class="accent-text">
  About Our Online Loan App!
</mat-card-title>
<br />
<br />

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img
          src="../../assets/onliine-loan-calculator.jpg"
          alt=""
          style="
            width: 90%;
            max-height: 400px;
            max-width: 600px;
            border-radius: 8px;
          "
        />
      </div>
      <div>
        <em
          >Photo By,
          <a href="https://theislandnow.com/loan-calculator/"> TIN|Money </a>
        </em>
      </div>
    </div>
  </div>
  <div fxFlex>
    <h1 class="danger-text">About Us:</h1>
    <p>
      Our loan calculator is designed to help you estimate your monthly loan
      payments quickly and easily. Whether you're considering a home mortgage,
      auto loan, or personal loan, our calculator can provide you with valuable
      insights to plan your finances effectively.
    </p>

    <em
      >Note: We strive to provide accurate and reliable calculations, but please
      note that the results from the loan calculator are estimates. The actual
      loan terms and interest rates may vary based on your lender's policies and
      your creditworthiness.
    </em>
  </div>
</div>
