@import "./theme";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}



.primary-text {
    color: $ravenclaw;
}
.primary-bg {
    background: $ravenclaw;
}

.accent-text {
    color: $hufflepuff;
}
.accent-bg {
    background: $hufflepuff;
}

.danger-text {
    color: $gryffindor;
}
.danger-bg {
    background: $gryffindor;
}




.attribution-link {
    text-decoration: none;
    column-rule-color: white;
}
.attribution-link:hover {
    text-decoration: underline;
}

.card-title-icon {
    text-align: center;
}

.card-title-icon,
.mat-icon {
    font-size: 72px;
}
.align-center {
    text-align: center;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
